@model List<User>
@{
    ViewData["Title"] = "PresentaionApp";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Registered at</th>
            <th scope="col">Last Login at</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <thead>
        @foreach(var obj in Model)
        {
            <tr>
                <td>Accardion</td>
                <td>@obj.Login</td>
                <td>@obj.Email</td>
                <td>@obj.Created</td>
                <td>@obj.LastLogin</td>
                <td>@obj.Status</td>
            </tr>
        }
    </thead>
</table>

